select-autocomplete {
  position: relative;
}

select-autocomplete * {
  box-sizing: border-box;
}

select-autocomplete input {
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem;
  padding-right: 0;
}

select-autocomplete label {
  border: 1px solid #ddd;
  display: inline-block;
  padding-right: calc(1rem + 15px);
  cursor: default;
}

select-autocomplete label:before {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, 0.8);
  transform: translate(-0.5rem, -50%);
  position: absolute;
  top: 50%;
  right: 0.5rem;
  pointer-events: none;
}

select-autocomplete[data-open="false"] label:before {
  transform: translate(-0.5rem, -50%) rotate(180deg);
}

select-autocomplete label:focus-within,
select-autocomplete label:focus,
select-autocomplete label:active {
  border: 1px solid blue;
}

select-autocomplete [data-list] {
  font-family: Arial;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 0.875rem;
  cursor: default;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: calc(100% - 4px);
  border: 1px solid #ddd;
  border-top: none;
}

select-autocomplete [data-list] > div {
  padding: 0.5rem;
}

select-autocomplete [data-list] > div.active {
  background: #eee;
}
